header {
    height: 100vh;
    padding: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ******************** CTA ******************** */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ******************** SOCIAL MEDIA ******************** */
.haeder_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
    position: absolute;
    left: -9.5rem;
    bottom: 4rem;
}

.haeder_socials::after {
    content: "";
    width: 5px;
    height: 2rem;
    background: var(--color-primary);
}

/* ******************** ME ******************** */
.me {
    /* background: var(--color-primary-variant); */
    background: var(--color-primary);
    color: var(--color-bg);
    width: 22rem;
    height: 28rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 3.0rem 3.0rem 3.0rem;
}

/* ******************** SCROLL DOWN ******************** */
.scroll_down {
    position: absolute;
    right: -12.9rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.5rem;
}

/* *************** MEDIA QUERIES (MEDIUM DEVICE) *************** */
@media screen and (max-width: 1024px) {
    /* .container {
        background: red;
    } */
    header {
        height: 68vh;
    }
}

/* *************** MEDIA QUERIES (SMALL DEVICE) *************** */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .haeder_socials, .scroll_down {
        display: none;
        
    }
}